
body{
    background-image: url("http://wapfile.desktx.com/7681280/1216/161216ha2cibrbb02.jpg");
    background-repeat: no-repeat, repeat;
    background-color:rgb(42, 43, 143);
    background-size: cover;
    opacity: 0.8;
    /* color: azure; */
}

.modal, .modal-open{
    opacity: 1;
}

h1{
    color: azure;
}

h2{
    padding: 10px;
}

.tooltip-inner{
    background-color: rgb(5, 5, 114);
}

#text{
    color: black;   
}

#info{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
}


.popover{
    color:black;
}

#score{
    position: absolute;
    left: 20px;
}

 .transfrom {
    animation: slide 0.3s forwards;
    -webkit-animation: slide 0.3s forwards;
}

@keyframes slide {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform:  rotateY(0deg); 
    }
}

.btn{
    opacity: 50%;
    overflow-wrap: break-word;
    white-space: normal; 
}
/* 
.btn:hover {
    background-color: rgb(152, 240, 155);
    
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */